WF_A_Subdomains_PT.json
{
  "name": "WF_A_Subdomains_PT",
  "nodes": [
    {"parameters": {}, "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 0], "id": "wf-a-trigger"},
    {"parameters": {"values": {"string": [{"name": "product_type_id", "value": "={{ $json.product_type_id || '' }}"}]}}, "name": "Set Input", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [220, 0], "id": "wf-a-set-input"},
    {"parameters": {"conditions": {"string": [{"value1": "={{ $json.product_type_id }}", "operation": "isNotEmpty"}]}}, "name": "Validate PT", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [430, 0], "id": "wf-a-validate"},
    {"parameters": {"authentication": "headerAuth", "url": "={{ $env.DOJO_BASE_URL.replace(/\\/+$/,'') + '/product_types/' + $json.product_type_id + '/' }}", "options": {}}, "name": "Get PT", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "position": [640, -80], "id": "wf-a-get-pt", "credentials": {"httpHeaderAuth": {"id": "DOJO_CREDENTIAL", "name": "Dojo Header Auth"}}},
    {"parameters": {"command": "=python3 /opt/tools/enum_subs_auto.py --domain \"{{ $json.name }}\" --resolve --json-output"}, "name": "Enumerate", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [840, -80], "id": "wf-a-enum"},
    {"parameters": {"functionCode": "const body = JSON.parse($json.stdout || '{}'); return [{json:{ok:true,stage:'WF_A',product_type_id:$node['Set Input'].json.product_type_id,status:'success',metrics:{subdomains: body.count || 0},errors:[],warnings:[],timestamps:{started_at:$now.toISO(),finished_at:$now.toISO()},raw:body}}];"}, "name": "Result Contract", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1040, -80], "id": "wf-a-result"},
    {"parameters": {"functionCode": "return [{json:{ok:false,stage:'WF_A',product_type_id:$node['Set Input'].json.product_type_id,status:'error',metrics:{},errors:[{code:'missing_product_type_id'}],warnings:[],timestamps:{started_at:$now.toISO(),finished_at:$now.toISO()}}}];"}, "name": "Validation Error", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [640, 120], "id": "wf-a-validation-error"}
  ],
  "connections": {
    "Trigger": {"main": [[{"node": "Set Input", "type": "main", "index": 0}]]},
    "Set Input": {"main": [[{"node": "Validate PT", "type": "main", "index": 0}]]},
    "Validate PT": {"main": [[{"node": "Get PT", "type": "main", "index": 0}], [{"node": "Validation Error", "type": "main", "index": 0}]]},
    "Get PT": {"main": [[{"node": "Enumerate", "type": "main", "index": 0}]]},
    "Enumerate": {"main": [[{"node": "Result Contract", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "tags": []
}
