WF_C_Targets_For_PT.json
{
  "name": "WF_C_Targets_For_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8881a7ec-1878-4e10-94c8-6838f00aaacc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_type_id",
              "value": "=6"
            },
            {
              "name": "acunetix_base_url",
              "value": "https://192.168.68.101:3443"
            },
            {
              "name": "acunetix_api_key",
              "value": "1986ad8c0a5b3df4d7028d5f3c06e936ce0cbf064ad584e25a069a48d713da4ee"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b60803c9-c7f8-4192-a02d-c71c6095580b"
    },
    {
      "parameters": {
        "command": "=python3 /workspace/n8n/process_nmap_ips_for_pt.py \\\n  --base-url {{$env.DOJO_BASE_URL || 'http://localhost:8080/api/v2'}} \\\n  --token {{$env.DOJO_API_TOKEN}} \\\n  --product-type-id {{$json[\"product_type_id\"].toString()}} \\\n  --input {{$env.NMAP_XML_DIR || '/tmp'}} \\\n  --timeout {{$env.HTTP_TIMEOUT || 30}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3762ce5b-c66a-4a26-9b9f-83c039540cca",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=python3 /workspace/n8n/acunetix_sync_pt.py \\\n  --base-url {{$env.DOJO_BASE_URL || 'http://localhost:8080/api/v2'}} \\\n  --token {{$env.DOJO_API_TOKEN}} \\\n  --product-type-id {{ $('Set Parameters').item.json.product_type_id }} \\\n  --acu-base-url {{ $('Set Parameters').item.json.acunetix_base_url }} \\\n  --acu-token {{ $('Set Parameters').item.json.acunetix_api_key }} \\\n  --timeout {{$env.HTTP_TIMEOUT || 30}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "2381b203-8544-4e50-a98f-0cfb818f3235",
      "name": "Sync Acunetix Group"
    },
    {
      "parameters": {
        "command": "=python3 /workspace/n8n/acunetix_set_group_scan_speed.py \\\n  --base-url {{ $('Set Parameters').item.json.acunetix_base_url }} \\\n  --token {{ $('Set Parameters').item.json.acunetix_api_key }} \\\n  --group-id {{ $json.group_id }} \\\n  --product-type-id {{ $('Set Parameters').item.json.product_type_id }} \\\n  --scan-speed sequential \\\n  --timeout {{$env.HTTP_TIMEOUT || 30}}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "d7566881-9c82-4564-8538-2546bf40e85d",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "jsCode": "const c = $item(0).$node['Execute Command'].json || {};\nconst s = $item(0).$node['Sync Acunetix Group'].json || {};\nconst sp = $json || {};\nreturn [{json:{\n  ok: Boolean(c.ok && s.ok && sp.ok),\n  status: [c.status,s.status,sp.status].includes('error') ? 'error' : ([c.status,s.status,sp.status].includes('skipped') ? 'skipped' : 'ok'),\n  stage: 'WF_C',\n  product_type_id: Number($item(0).$node['Set Parameters'].json.product_type_id),\n  timestamps: { start: new Date().toISOString(), end: new Date().toISOString() },\n  metrics: {\n    targets_total: Number((c.metrics||{}).targets_total || 0),\n    targets_created: Number((c.metrics||{}).targets_created || 0) + Number((s.metrics||{}).targets_created || 0),\n    targets_skipped: Number((c.metrics||{}).targets_skipped || 0) + Number((s.metrics||{}).targets_skipped || 0),\n    scans_started: 0, scans_skipped: 0, findings_imported: 0\n  },\n  errors: [...(c.errors||[]),...(s.errors||[]),...(sp.errors||[])],\n  warnings: [...(c.warnings||[]),...(s.warnings||[]),...(sp.warnings||[])],\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4c48ade9-718e-405b-89c1-1beab80ed6e0",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Sync Acunetix Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Acunetix Group": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f219f7ce-7867-484a-8806-8e183d70eba5",
  "meta": {
    "instanceId": "d06b9c37a455942c350bdf64d5764dfb5548ea5097bfb316251734323f35ea3f"
  },
  "id": "OsOBICmnEtSDo8Sm",
  "tags": []
}