WF_D_AcunetixScan_PT.json
{
  "name": "WF_D_AcunetixScan_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10869f82-e9a3-4c95-8beb-12f67ba7978d"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "number": [
            {
              "name": "product_type_id",
              "value": "={{ Number($json.product_type_id || $env.DEFAULT_PRODUCT_TYPE_ID || 1) }}"
            },
            {
              "name": "poll_interval",
              "value": "={{ Number($json.poll_interval || $env.ACUNETIX_POLL_INTERVAL || 30) }}"
            },
            {
              "name": "timeout_seconds",
              "value": "={{ Number($json.timeout_seconds || $env.ACUNETIX_SCAN_TIMEOUT_SECONDS || 3600) }}"
            }
          ],
          "boolean": [
            {
              "name": "dry_run",
              "value": "={{ !!$json.dry_run }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "c17dc959-d7c2-497e-b5af-27eab88169fd"
    },
    {
      "parameters": {
        "command": "=python3 ./acunetix_scan_import_pt.py --dojo-base-url \"{{$env.DOJO_BASE_URL}}\" --dojo-api-token \"{{$env.DOJO_API_TOKEN}}\" --product-type-id \"{{$json.product_type_id}}\" --acu-base-url \"{{$env.ACUNETIX_BASE_URL}}\" --acu-api-token \"{{$env.ACUNETIX_API_TOKEN}}\" --scan-profile-id \"{{$env.ACUNETIX_SCAN_PROFILE_ID || '11111111-1111-1111-1111-111111111111'}}\" --poll-interval \"{{$json.poll_interval}}\" --timeout-seconds \"{{$json.timeout_seconds}}\" {{$json.dry_run ? '--dry-run' : ''}}"
      },
      "name": "Run Scan Import Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "26da58b9-3d99-4df7-82db-b5b1128f0eac",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const src = $json.stdout || $json.stderr || '{}';\nlet parsed;\ntry { parsed = JSON.parse(src.trim() || '{}'); } catch (e) { throw new Error(`Unable to parse scan output: ${src}`); }\nreturn [{ json: { ...parsed, commandExitCode: $json.exitCode ?? 0 } }];"
      },
      "name": "Parse Scan Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ],
      "id": "a1deffe6-ca4a-4a15-8e90-243ba3187975"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $json.commandExitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Scan Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        0
      ],
      "id": "0598df45-1c97-4663-bad6-a6164c59dbf3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba349e60-f219-4122-a6c7-1c6fce19d726",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "c8495af5-0ced-4399-9bce-f2517c9adad6",
              "name": "report",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Scan Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        -80
      ],
      "id": "1f127a1c-c0cc-44c6-ab18-073d5ed149c8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d84e1aa3-2ee1-4ebe-a166-609eda997df5",
              "name": "status",
              "value": "failure",
              "type": "string"
            },
            {
              "id": "0156abe5-4f90-41d9-b1ed-c3ab05e022a2",
              "name": "error",
              "value": "={{ $json.error || 'WF_D scan/import failed' }}",
              "type": "string"
            },
            {
              "id": "baca08b7-b5af-4e53-a9f0-b272f0f036c1",
              "name": "report",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Scan Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        80
      ],
      "id": "55399398-3eb9-488b-a591-1c7d8a27b00f"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Run Scan Import Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scan Import Script": {
      "main": [
        [
          {
            "node": "Parse Scan Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scan Report": {
      "main": [
        [
          {
            "node": "Check Scan Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scan Result": {
      "main": [
        [
          {
            "node": "Return Scan Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Scan Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}