WF_D_Scan_For_PT.json
{
  "name": "WF_D_Scan_For_PT",
  "nodes": [
    {"parameters": {}, "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 0], "id": "wf-d-trigger"},
    {"parameters": {"values": {"string": [{"name": "product_type_id", "value": "={{ $json.product_type_id || '' }}"}]}}, "name": "Set Input", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [220, 0], "id": "wf-d-set"},
    {"parameters": {"command": "=python3 /opt/tools/acunetix_scan_pt.py --base-url {{$env.DOJO_BASE_URL}} --token {{$env.DOJO_API_TOKEN}} --product-type-id {{ $json.product_type_id }} --acu-base-url {{$env.ACUNETIX_BASE_URL}} --acu-token {{$env.ACUNETIX_API_TOKEN}} --scan-profile-id {{$env.ACUNETIX_SCAN_PROFILE_ID}}"}, "name": "Scan Guard + Start", "type": "n8n-nodes-base.executeCommand", "typeVersion": 1, "position": [440, 0], "id": "wf-d-run"},
    {"parameters": {"functionCode": "return [{json: JSON.parse($json.stdout || '{}')}];"}, "name": "Parse Result", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [660, 0], "id": "wf-d-parse"}
  ],
  "connections": {
    "Trigger": {"main": [[{"node": "Set Input", "type": "main", "index": 0}]]},
    "Set Input": {"main": [[{"node": "Scan Guard + Start", "type": "main", "index": 0}]]},
    "Scan Guard + Start": {"main": [[{"node": "Parse Result", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "tags": []
}
